<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <div id="header">
  <img src="logo.svg">
  <h2>Majestic Thai</h2>
  </div>
  <div id="main">
    <ul class="menu-item-list">
      
    </ul>
  </div>
  <div id="footer"></div>


 
  
  <script type="text/template" data-template="menu-item">
    <strong><%- title %></strong>
    (<%- price %>)
    <button class="add">+</button>
    <button class="remove">-</button>
    <input type="text" class="qty" value="0">
  </script>

  <script type="text/template" data-template="footer">
    <strong>Total: </strong>$ <%- total %>
    <button class="place-order">ORDER</button>
  </script>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>
  <script src="js/tokens.js"></script>
  <script src="js/models.js"></script>
  <script src="js/views-customer.js"></script>
</body>
</html>
